In [1]:
import pandas as pd
import numpy as np
import seaborn as sbs

In [3]:
ipl = pd.read_csv("ball_by_ball_ipl.csv")

In [5]:
ipl.sample(5)

,Unnamed: 0,Match ID,Date,Venue,Bat First,Bat Second,Innings,Over,Ball,Batter,...,Winner,Chased Successfully,Total Batter Runs,Total Non Striker Runs,Batter Balls Faced,Non Striker Balls Faced,Player Out Runs,Player Out Balls Faced,Bowler Runs Conceded,Valid Ball
17018,17018,1082636,2017-05-07,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,2,15,2,YK Pathan,...,Kolkata Knight Riders,1,0,2,1,2,NaN,NaN,0,1
140452,140452,1136587,2018-04-28,Maharashtra Cricket Association Stadium,Chennai Super Kings,Mumbai Indians,1,19,6,SW Billings,...,Mumbai Indians,1,2,65,3,43,NaN,NaN,0,1
93783,93783,980965,2016-05-05,Feroz Shah Kotla,Delhi Daredevils,Rising Pune Supergiants,2,13,6,AM Rahane,...,Rising Pune Supergiants,1,49,21,38,14,NaN,NaN,2,1
78990,78990,548335,2012-04-22,Barabati Stadium,Deccan Chargers,Kolkata Knight Riders,1,18,2,JP Duminy,...,Kolkata Knight Riders,1,7,3,6,6,NaN,NaN,4,1
99352,99352,336033,2008-05-24,MA Chidambaram Stadium,Rajasthan Royals,Chennai Super Kings,2,10,5,PA Patel,...,Rajasthan Royals,0,39,1,28,4,NaN,NaN,0,1

In [6]:
ipl.to_excel("test.xlsx")